{% extends 'base.html.twig' %}

{% block body %}


        <div class="container">
            <div class="page-header"></div>
            <div class="alert alert-danger text-center" role="alert">
                <strong><h2><i class="fa fa-times-circle-o" aria-hidden="true"></i> Registry closed</strong></h2>
                <br>
                deadline: May 30th 2020</div>
        </div>

{% endblock %}