VIII Iberoamerican Congress on Geometry

We have received your information. Thank you for registering.

{{ registry.name|title }} {{ registry.surname|title }}
{{ registry.affiliation }}

Registration payment fee in the online store Plaza Prometeo:

You have to choose only one of the following "products":

1. <a href="https://tienda.fciencias.unam.mx/es/home/594-professor-registration-fee-for-the-viii-iberoamerican-congress-on-geometry.html">Professor Registration Fee</a> (This includes social dinner)

2. <a href="https://tienda.fciencias.unam.mx/es/home/595-reduced-professor-registration-fee-for-the-viii-iberoamerican-congress-on-geometry.html">Reduced Professor Registration Fee</a> (this does not includes social dinner)

3. <a href="https://tienda.fciencias.unam.mx/es/home/596-student-registration-fee-for-the-viii-iberoamerican-congress-on-geometry.html">Student Registration Fee</a> (This includes social dinner)

4. <a href="https://tienda.fciencias.unam.mx/es/home/597-reduced-student-registration-fee-for-the-viii-iberoamerican-congress-on-geometry.html">Reduced Student Registration Fee</a> (This does not includes social dinner)

Organizing Committee